body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #E9F5DB;
    font-family: Arial, sans-serif;
}

#calculator {
    border: 1px solid #87986A;
    border-radius: 20PX;
    width: 288px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-left: 155px;
}

#display {
    margin: 10px;
    width: 85%;
    padding: 8px;
    border: 1px solid #87986A;
    border-radius: 3px;
    font-size: 30px;
    text-align: right;
    background-color: #CFE1B9;
    color: #4B4B4B;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

.btn {
    width: 65px;
    height: 60px;
    margin: 5px;
    border: 1px solid #718355;
    border-radius: 50%;
    background-color: #718355;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #87986A;
}




img {
    width: 335px;
    height: 550px;
    border-radius: 20px;
}

.thinkImg {

    width: 100px;
    height: 100px;
    position: relative;
    bottom: 165px;
    right: 106px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);

    }

    50% {
        transform: scale(1.1);

    }

    100% {
        transform: scale(1);

    }
}

.questionImg {
    width: 55px;
    height: 55px;
    position: relative;
    bottom: 176px;
    right: 188px;
}

@media (max-width: 767px) {
    img {
        display: none;
    }
}